.version.login {
    color: #000012;
    background-color: #D5F75B;
}
.js body {
    visibility: hidden;
}
.js body.initialized {
    visibility: visible;
}
#page {
    z-index: 1;
    min-height: 438px;
    margin-left: auto;
    border-color: #000000;
    background-image: none;
    background-color: transparent;
    width: 100%;
    border-width: 0px;
    padding-bottom: 62px;
    margin-right: auto;
}
#u6832 {
    z-index: 2;
    background-position: left top;
    background-repeat: no-repeat;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    margin-right: -10000px;
    background-color: transparent;
    width: 100%;
    position: relative;
    opacity: 1;
    background-size: contain;
}
#slideshowu6809 {
    z-index: 3;
    margin-right: -10000px;
    width: 0.01px;
    position: relative;
    height: 539px;
}
#u6821 {
    height: 539px;
    position: absolute;
    background-color: transparent;
}
#u6821popup {
    z-index: 4;
}
#u6822 {
    z-index: 5;
    border-color: transparent;
    margin-right: -10000px;
    background-color: #4F4F4F;
    border-width: 0px;
    position: relative;
    height: 539px;
}
#u6824 {
    z-index: 7;
    border-color: transparent;
    margin-right: -10000px;
    background-color: #4F4F4F;
    border-width: 0px;
    position: relative;
    height: 539px;
}
#u6817 {
    top: 69px;
    width: 712px;
    position: absolute;
    background-color: transparent;
}
#u6817popup {
    z-index: 9;
}
#u6818-3 {
    z-index: 10;
    min-height: 383px;
    position: relative;
    border-color: transparent;
    filter: alpha(opacity=100);
    line-height: 20px;
    padding: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    margin-right: -10000px;
    width: 692px;
    color: #999999;
    border-width: 0px;
    opacity: 1;
    background: transparent url("../images/text%20visual%201.png?crc=4226399040") no-repeat left top;
    background-size: contain;
}
#u6819-3 {
    z-index: 13;
    min-height: 383px;
    position: relative;
    border-color: transparent;
    filter: alpha(opacity=100);
    line-height: 20px;
    padding: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    margin-right: -10000px;
    width: 692px;
    color: #999999;
    border-width: 0px;
    opacity: 1;
    background: transparent url("../images/survey%20text.png?crc=170210752") no-repeat left top;
    background-size: cover;
}
#u6810-3 {
    text-align: center;
    min-height: 173px;
    border-color: transparent;
    filter: alpha(opacity=100);
    top: 173px;
    position: absolute;
    line-height: 20px;
    padding: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    width: 90px;
    color: #999999;
    border-width: 0px;
    opacity: 1;
    background: transparent url("../images/arrow.png?crc=29570280") no-repeat left center;
}
#u6810-3popup {
    z-index: 16;
}
#u6820-3 {
    text-align: center;
    min-height: 209px;
    border-color: transparent;
    filter: alpha(opacity=100);
    top: 155px;
    position: absolute;
    line-height: 20px;
    padding: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    width: 97px;
    color: #999999;
    border-width: 0px;
    opacity: 1;
    background: transparent url("../images/arrow-right.png?crc=4164857385") no-repeat right center;
}
#u6820-3popup {
    z-index: 19;
}
.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
    cursor: pointer;
}
.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}
#u6808 {
    z-index: 22;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.31);
    background-color: #F2EAE4;
}
#u6806 {
    z-index: 23;
    margin-right: -10000px;
    background-color: transparent;
    position: relative;
}
#u6808-bw {
    z-index: 22;
}
#u6833 {
    padding-bottom: 6px;
    background-color: #192F42;
}
#u6808_align_to_page,
#u6833_align_to_page {
    margin-left: auto;
    position: relative;
    margin-right: auto;
}
#u6830 {
    margin-right: -10000px;
    background-color: transparent;
    margin-top: 6px;
    position: relative;
}
#u6962 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    margin-right: -10000px;
    opacity: 0.9;
    background-color: #000000;
    position: relative;
    height: 4366px;
}
#u6990 {
    margin-right: -10000px;
    background-color: transparent;
    margin-top: 332px;
    position: relative;
}
/*#u6990_img {
    width: 100%;
}*/
#u7006 {
    margin-right: -10000px;
    margin-top: 348px;
    position: relative;
    height: 124px;
}
#u7395 {
    margin-right: -10000px;
	margin-top: 35%;
    position: relative;
	height: 250px;
}
.ie #u7006,
.ie #u7395 {
    background-color: #FFFFFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 0.01;
}
.html {
    background-color: #FFFFFF;
}
body {
    position: relative;
}
@media (min-width: 1921px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }
    #bp_infinity.active {
        display: block;
    }
    #u6832 {
        background-image: url("../images/footer.jpg?crc=3861036413");
        margin-top: 766px;
    }
    #u6832 .fluid_height_spacer {
        padding-bottom: 140.625%;
    }
    #slideshowu6809 {
        margin-top: 227px;
    }
    #u6821,
    #u6822,
    #u6824 {
        width: 2560px;
    }
    #u6817 {
        left: 174px;
    }
    #u6810-3 {
        left: 21px;
    }
    #u6820-3 {
        left: 2428px;
    }
    #u6808 {
        min-height: 148px;
    }
    #u6806 {
        margin-bottom: -7px;
        margin-top: -5px;
        width: 100%;
    }
    #u6808-bw {
        min-height: 148px;
        margin-top: 79px;
    }
    #page,
    #u6808_align_to_page,
    #u6833_align_to_page {
        max-width: 2560px;
    }
    #u6830 {
        z-index: 26;
        width: 100%;
    }
    #u6806_img,
    #u6830_img {
        width: 100%;
    }
    #u6833,
    #u6833-bw {
        z-index: 25;
        min-height: 73px;
    }
    #u6962 {
        z-index: 28;
        width: 104.54%;
        left: -2.19%;
    }
    #u6990 {
        z-index: 29;
        width: 36.37%;
        left: 31.8%;
    }
    #u7006 {
        z-index: 31;
        width: 4.85%;
        left: 62.82%;
    }
    #u7395 {
        z-index: 32;
        width: 10.43%;
        left: 35.4%;
    }
    #u7395 .fluid_height_spacer {
        padding-bottom: 43.82022471910113%;
    }
}
@media (min-width: 1601px) and (max-width: 1920px) {
    #muse_css_mq {
        background-color: #000780;
    }
    #bp_1920.active {
        display: block;
    }
    #u6832 {
        background-image: url("../images/footer.jpg?crc=3861036413");
        margin-top: 709px;
    }
    #u6832 .fluid_height_spacer {
        padding-bottom: 140.625%;
    }
    #slideshowu6809 {
        margin-top: 170px;
    }
    #u6821 {
        width: 100%;
        left: -1px;
    }
    #u6817 {
        left: 173px;
    }
    #u6810-3 {
        left: 15px;
    }
    #u6820-3 {
        left: 1788px;
    }
    #u6808 {
        min-height: 120px;
    }
    #u6822,
    #u6824,
    #u6806 {
        width: 100%;
    }
    #u6806_img {
        margin-left: 24px;
        margin-right: -24px;
    }
    #u6808-bw {
        min-height: 120px;
        margin-top: 57px;
    }
    #pamphletu6834 {
        z-index: 25;
        width: 0.01px;
        height: 114px;
        padding-bottom: 532px;
        position: relative;
        margin-right: -10000px;
        margin-top: 62px;
        left: 0.06%;
    }
    #u6843 {
        position: absolute;
        width: 1922px;
        background-color: transparent;
        top: 116px;
    }
    #u6843popup {
        z-index: 26;
    }
    #u6845 {
        z-index: 27;
        width: 100%;
        height: 530px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
        filter: alpha(opacity=98);
        margin-right: -10000px;
        position: relative;
        background: #192F42 url("../images/focus%20area%20open%20copia.png?crc=151249171") no-repeat left top;
        background-size: contain;
    }
    #u6846 {
        z-index: 28;
        width: 100%;
        height: 530px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
        filter: alpha(opacity=98);
        margin-right: -10000px;
        position: relative;
        background: #192F42 url("../images/mission%20-%20ethics%20open%20copia%202.png?crc=144110946") no-repeat left top;
        background-size: cover;
    }
    #u6844 {
        z-index: 29;
        width: 100%;
        height: 530px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
        filter: alpha(opacity=98);
        margin-right: -10000px;
        position: relative;
        background: #192F42 url("../images/about%20us%20open.png?crc=131277944") no-repeat left top;
        background-size: contain;
    }
    #u6837 {
        z-index: 30;
        width: 466px;
        position: relative;
        margin-right: -10000px;
        left: 485px;
    }
    #u6840 {
        position: absolute;
        width: 147px;
        height: 115px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }
    .ie #u6840 {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6840:hover {
        background-color: transparent;
        width: 147px;
        height: 115px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6840:hover {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6840.PamphletThumbSelected {
        border-width: 0px;
        border-color: transparent;
        background-color: #850038;
        width: 147px;
        height: 115px;
        min-height: 0px;
        margin: 0px;
    }
    #u6838 {
        position: absolute;
        width: 175px;
        height: 115px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        left: 147px;
    }
    .ie #u6838 {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6838:hover {
        background-color: transparent;
        width: 175px;
        height: 115px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6838:hover {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6838.PamphletThumbSelected {
        border-width: 0px;
        border-color: transparent;
        background-color: #850038;
        width: 175px;
        height: 115px;
        min-height: 0px;
        margin: 0px;
    }
    #u6839 {
        position: absolute;
        width: 144px;
        height: 115px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        left: 322px;
    }
    .ie #u6839 {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6839:hover {
        background-color: transparent;
        width: 144px;
        height: 115px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6839:hover {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6839.PamphletThumbSelected {
        border-width: 0px;
        border-color: transparent;
        background-color: #850038;
        width: 144px;
        height: 115px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6840.PamphletThumbSelected,
    .ie #u6838.PamphletThumbSelected,
    .ie #u6839.PamphletThumbSelected {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }
    .PamphletWidget .ThumbGroup .Thumb,
    .PamphletNextButton,
    .PamphletPrevButton,
    .PamphletCloseButton {
        cursor: pointer;
    }
    #page,
    #u6808_align_to_page,
    #u6833_align_to_page {
        max-width: 1920px;
    }
    #u6830 {
        z-index: 35;
        width: 100%;
    }
    #u6833,
    #u6833-bw {
        z-index: 34;
        min-height: 56px;
    }
    #u6962 {
        z-index: 37;
        width: 104.54%;
        left: -2.19%;
    }
    #u6990 {
        z-index: 38;
        width: 36.36%;
        left: 31.83%;
    }
    #u7006 {
        z-index: 40;
        width: 4.85%;
        left: 62.82%;
    }
    #u7395 {
        z-index: 41;
        width: 10.42%;
        left: 35.42%;
    }
    #u7395 .fluid_height_spacer {
        padding-bottom: 44%;
    }
    body {
        overflow-x: hidden;
    }
}
@media (min-width: 1369px) and (max-width: 1600px) {
    #muse_css_mq {
        background-color: #000640;
    }
    #bp_1600.active {
        display: block;
    }
    #u6832 {
        background-image: url("../images/footer.jpg?crc=3861036413");
        margin-top: 709px;
    }
    #u6832 .fluid_height_spacer {
        padding-bottom: 140.625%;
    }
    #slideshowu6809 {
        margin-top: 142px;
    }
    #u6821,
    #u6822,
    #u6824 {
        width: 100%;
    }
    #u6817 {
        left: 110px;
    }
    #u6810-3 {
        left: 21px;
    }
    #u6820-3 {
        left: 1463px;
    }
    #u6808 {
        min-height: 88px;
    }
    #u6806 {
        width: 100%;
        margin-bottom: -7px;
        margin-top: -5px;
    }
    #u6808-bw {
        min-height: 88px;
        margin-top: 54px;
    }
    #pamphletu6834 {
        z-index: 25;
        width: 0.01px;
        height: 104px;
        padding-bottom: 539px;
        position: relative;
        margin-right: -10000px;
        margin-top: 37px;
    }
    #u6843 {
        position: absolute;
        width: 1601px;
        background-color: transparent;
        top: 103px;
    }
    #u6843popup {
        z-index: 26;
    }
    #u6845 {
        z-index: 27;
        width: 1599px;
        height: 540px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
        filter: alpha(opacity=98);
        margin-right: -10000px;
        position: relative;
        background: #192F42 url("../images/focus%20area%20open%20copia.png?crc=151249171") no-repeat left top;
        background-size: contain;
    }
    #u6846 {
        z-index: 28;
        width: 1599px;
        height: 540px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
        filter: alpha(opacity=98);
        margin-right: -10000px;
        position: relative;
        background: #192F42 url("../images/mission%20-%20ethics%20open%20copia%202.png?crc=144110946") no-repeat left top;
        background-size: cover;
    }
    #u6844 {
        z-index: 29;
        width: 1599px;
        height: 540px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
        filter: alpha(opacity=98);
        margin-right: -10000px;
        position: relative;
        background: #192F42 url("../images/about%20us%20open.png?crc=131277944") no-repeat left top;
        background-size: contain;
    }
    #u6837 {
        z-index: 30;
        width: 377px;
        position: relative;
        margin-right: -10000px;
        left: 398px;
    }
    #u6840 {
        position: absolute;
        width: 119px;
        height: 104px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }
    .ie #u6840 {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6840:hover {
        background-color: transparent;
        width: 119px;
        height: 104px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6840:hover {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6840.PamphletThumbSelected {
        border-width: 0px;
        border-color: transparent;
        background-color: #850038;
        width: 119px;
        height: 104px;
        min-height: 0px;
        margin: 0px;
    }
    #u6838 {
        position: absolute;
        width: 129px;
        height: 104px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        left: 119px;
    }
    .ie #u6838 {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6838:hover {
        background-color: transparent;
        width: 129px;
        height: 104px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6838:hover {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6838.PamphletThumbSelected {
        border-width: 0px;
        border-color: transparent;
        background-color: #850038;
        width: 129px;
        height: 104px;
        min-height: 0px;
        margin: 0px;
    }
    #u6839 {
        position: absolute;
        width: 119px;
        height: 104px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        left: 258px;
    }
    .ie #u6839 {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6839:hover {
        background-color: transparent;
        width: 119px;
        height: 104px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6839:hover {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6839.PamphletThumbSelected {
        border-width: 0px;
        border-color: transparent;
        background-color: #850038;
        width: 119px;
        height: 104px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6840.PamphletThumbSelected,
    .ie #u6838.PamphletThumbSelected,
    .ie #u6839.PamphletThumbSelected {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }
    .PamphletWidget .ThumbGroup .Thumb,
    .PamphletNextButton,
    .PamphletPrevButton,
    .PamphletCloseButton {
        cursor: pointer;
    }
    #page,
    #u6808_align_to_page,
    #u6833_align_to_page {
        max-width: 1600px;
    }
    #u6830 {
        z-index: 35;
        width: 100%;
    }
    #u6833,
    #u6833-bw {
        z-index: 34;
        min-height: 48px;
    }
    #u6962 {
        z-index: 37;
        width: 104.57%;
        left: -2.19%;
    }
    #u6990 {
        z-index: 38;
        width: 36.38%;
        left: 31.82%;
    }
    #u7006 {
        z-index: 40;
        width: 4.88%;
        left: 62.82%;
    }
    #u7395 {
        z-index: 41;
        width: 10.44%;
        left: 35.38%;
    }
    #u7395 .fluid_height_spacer {
        padding-bottom: 43.712574850299404%;
    }
    body {
        overflow-x: hidden;
    }
}
@media (max-width: 1368px) {
    #muse_css_mq {
        background-color: #000558;
    }
    #bp_1368.active {
        display: block;
    }
    #u6832 {
        background-image: url("../images/footer-u6383-fr.jpg?crc=3972630034");
        margin-top: 709px;
    }
    #u6832 .fluid_height_spacer {
        padding-bottom: 140.64327485380116%;
    }
    #slideshowu6809 {
        margin-top: 121px;
    }
    #u6821 {
        width: 1368px;
        left: -1px;
    }
    #u6822,
    #u6824 {
        width: 1368px;
    }
    #u6817 {
        left: 173px;
    }
    #u6810-3 {
        left: 20px;
    }
    #u6820-3 {
        left: 1231px;
    }
    #u6808 {
        min-height: 74px;
    }
    #u6806 {
        width: 1368px;
        margin-bottom: -6px;
        margin-top: -5px;
    }
    #u6808-bw {
        min-height: 74px;
        margin-top: 48px;
    }
    #pamphletu6834 {
        z-index: 25;
        width: 0.01px;
        height: 85px;
        padding-bottom: 532px;
        position: relative;
        margin-right: -10000px;
        margin-top: 43px;
    }
    #u6843 {
        position: absolute;
        width: 1369px;
        background-color: transparent;
        top: 78px;
    }
    #u6843popup {
        z-index: 26;
    }
    #u6845 {
        z-index: 27;
        width: 1367px;
        height: 538px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
        filter: alpha(opacity=98);
        margin-right: -10000px;
        position: relative;
        background: #192F42 url("../images/focus%20area%20open%20copia-u5130-fr.png?crc=4001975672") no-repeat left top;
        background-size: contain;
    }
    #u6846 {
        z-index: 28;
        width: 1367px;
        height: 538px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
        filter: alpha(opacity=98);
        margin-right: -10000px;
        position: relative;
        background: #192F42 url("../images/mission%20-%20ethics%20open%20copia%202.png?crc=144110946") no-repeat left top;
        background-size: cover;
    }
    #u6844 {
        z-index: 29;
        width: 1367px;
        height: 538px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        opacity: 0.98;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
        filter: alpha(opacity=98);
        margin-right: -10000px;
        position: relative;
        background: #192F42 url("../images/about%20us%20open-u6216-fr.png?crc=399075974") no-repeat left top;
        background-size: contain;
    }
    #u6837 {
        z-index: 30;
        width: 322px;
        position: relative;
        margin-right: -10000px;
        left: 337px;
    }
    #u6840 {
        position: absolute;
        width: 104px;
        height: 85px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }
    .ie #u6840 {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6840:hover {
        background-color: transparent;
        width: 104px;
        height: 85px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6840:hover {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6840.PamphletThumbSelected {
        border-width: 0px;
        border-color: transparent;
        background-color: #850038;
        width: 104px;
        height: 85px;
        min-height: 0px;
        margin: 0px;
    }
    #u6838 {
        position: absolute;
        width: 114px;
        height: 85px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        left: 104px;
    }
    .ie #u6838 {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6838:hover {
        background-color: transparent;
        width: 114px;
        height: 85px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6838:hover {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6838.PamphletThumbSelected {
        border-width: 0px;
        border-color: transparent;
        background-color: #850038;
        width: 114px;
        height: 85px;
        min-height: 0px;
        margin: 0px;
    }
    #u6839 {
        position: absolute;
        width: 104px;
        height: 85px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        left: 218px;
    }
    .ie #u6839 {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6839:hover {
        background-color: transparent;
        width: 104px;
        height: 85px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6839:hover {
        background-color: #FFFFFF;
        opacity: 0.01;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);
    }
    #u6839.PamphletThumbSelected {
        border-width: 0px;
        border-color: transparent;
        background-color: #850038;
        width: 104px;
        height: 85px;
        min-height: 0px;
        margin: 0px;
    }
    .ie #u6840.PamphletThumbSelected,
    .ie #u6838.PamphletThumbSelected,
    .ie #u6839.PamphletThumbSelected {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }
    .PamphletWidget .ThumbGroup .Thumb,
    .PamphletNextButton,
    .PamphletPrevButton,
    .PamphletCloseButton {
        cursor: pointer;
    }
    #page,
    #u6808_align_to_page,
    #u6833_align_to_page {
        max-width: 1368px;
    }
    #u6830 {
        z-index: 35;
        width: 1368px;
    }
    #u6833,
    #u6833-bw {
        z-index: 34;
        min-height: 42px;
    }
    #u6962 {
        z-index: 37;
        width: 104.54%;
        left: -2.2%;
    }
    #u6990 {
        z-index: 38;
        width: 36.41%;
        left: 31.8%;
    }
    #u7006 {
        z-index: 40;
        width: 4.83%;
        left: 62.8%;
    }
    #u7395 {
        z-index: 41;
        width: 10.46%;
        left: 35.39%;
    }
    #u7395 .fluid_height_spacer {
        padding-bottom: 44.05594405594406%;
    }
    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}
