#muse_css_mq {
    background-color: #FFFFFF;
}
#bp_infinity.active {
    display: block;
}
#u6832 {
    background-image: url("../images/footer.jpg?crc=3861036413");
    margin-top: 766px;
}
#u6832 .fluid_height_spacer {
    padding-bottom: 140.625%;
}
#slideshowu6809 {
    margin-top: 227px;
}
#u6821,
#u6822,
#u6824 {
    width: 2560px;
}
#u6817 {
    left: 174px;
}
#u6810-3 {
    left: 21px;
}
#u6820-3 {
    left: 2428px;
}
#u6808 {
    min-height: 148px;
}
#u6806 {
    margin-bottom: -7px;
    margin-top: -5px;
    width: 100%;
}
#u6808-bw {
    min-height: 148px;
    margin-top: 79px;
}
#page,
#u6808_align_to_page,
#u6833_align_to_page {
    max-width: 2560px;
}
#u6830 {
    z-index: 26;
    width: 100%;
}
#u6806_img,
#u6830_img {
    width: 100%;
}
#u6833,
#u6833-bw {
    z-index: 25;
    min-height: 73px;
}
#u6962 {
    z-index: 28;
    width: 104.54%;
    left: -2.19%;
}
#u6990 {
    z-index: 29;
    width: 36.37%;
    left: 31.8%;
}
#u7006 {
    z-index: 31;
    width: 4.85%;
    left: 62.82%;
}
#u7395 {
    z-index: 32;
    width: 10.43%;
    left: 35.4%;
}
#u7395 .fluid_height_spacer {
    padding-bottom: 43.82022471910113%;
}