#muse_css_mq {
    background-color: #FFFFFF;
}
#bp_infinity.active {
    display: block;
}
#u465,
#u465-bw {
    min-height: 73px;
}
#pu478 {
    z-index: 22;
    margin-top: -7px;
    width: 100%;
}
#u478 {
    min-height: 148px;
}
#page,
#u465_align_to_page,
#u478_align_to_page {
    max-width: 2560px;
}
#u530 {
    margin-bottom: -7px;
    margin-top: -5px;
    width: 100%;
}
#u567,
#u567_img,
#u530_img {
    width: 100%;
}
#u7024 {
    margin-top: 30px;
    width: 12.15%;
    left: 77.62%;
}
#u7024 .fluid_height_spacer {
    padding-bottom: 33.762057877813504%;
}
#u478-bw {
    min-height: 148px;
    margin-top: 7px;
}
#pamphletu5127 {
    height: 160px;
    margin-right: -10000px;
    margin-top: 6px;
    left: 24.58%;
}
#u5128 {
    width: 2561px;
    top: 149px;
    left: -629px;
}
#u5130 {
    width: 2559px;
    height: 739px;
    background-image: url("../images/focus%20area%20open%20copia.png?crc=151249171");
}
#u6169 {
    width: 2559px;
    height: 739px;
}
#u6216 {
    width: 2559px;
    height: 739px;
    background-image: url("../images/about%20us%20open.png?crc=131277944");
}
#u5136 {
    width: 608px;
}
#u5139 {
    width: 196px;
    height: 155px;
}
#u5139:hover {
    width: 196px;
    height: 155px;
}
#u6186 {
    width: 196px;
    height: 160px;
    left: 206px;
}
#u6186:hover {
    width: 196px;
    height: 160px;
}
#u6186.PamphletThumbSelected {
    width: 196px;
    height: 160px;
}
#u6228 {
    width: 196px;
    height: 155px;
    left: 412px;
}
#u5139.PamphletThumbSelected,
#u6228:hover {
    width: 196px;
    height: 155px;
}
#u6228.PamphletThumbSelected {
    width: 196px;
    height: 155px;
}
#u8929 {
    width: 20.83%;
}
#u8929 .fluid_height_spacer {
    padding-bottom: 28.893058161350844%;
}
#slideshowu2682 {
    top: -11px;
    margin-bottom: -11px;
}
#u2694,
#u2695,
#u2908 {
    width: 2560px;
}
#u2690 {
    left: 174px;
}
#u2688-3 {
    left: 21px;
}
#u2689-3 {
    left: 2428px;
}
#u6383 {
    background-image: url("../images/footer.jpg?crc=3861036413");
}
#u6383 .fluid_height_spacer {
    padding-bottom: 140.625%;
}