.version.survey {
    color: #0000EC;
    background-color: #13E147;
}
.js body {
    visibility: hidden;
}
.js body.initialized {
    visibility: visible;
}
#page {
    z-index: 1;
    margin-left: auto;
    border-color: #000000;
    background-image: none;
    background-color: transparent;
    width: 100%;
    border-width: 0px;
    margin-right: auto;
}
#u7757 {
    z-index: 15;
    padding-bottom: 6px;
    background-color: #192F42;
}
#u7777 {
    z-index: 16;
    margin-right: -10000px;
    background-color: transparent;
    margin-top: 6px;
    position: relative;
}
#u7759 {
    z-index: 23;
    margin-right: -10000px;
    background-color: transparent;
    margin-top: 6px;
    position: relative;
}
#u7757-bw {
    z-index: 15;
}
#pamphletu7741 {
    z-index: 6;
    width: 0.01px;
    position: relative;
}
#u7742popup {
    z-index: 7;
}
#u7745 {
    z-index: 8;
    position: relative;
    border-color: #999999;
    background-position: left top;
    border-style: solid;
    background-repeat: no-repeat;
    filter: alpha(opacity=98);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    margin-right: -10000px;
    background-color: #192F42;
    border-width: 1px;
    opacity: 0.98;
    background-size: contain;
}
#u7743 {
    z-index: 9;
    position: relative;
    border-color: #999999;
    border-style: solid;
    filter: alpha(opacity=98);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    margin-right: -10000px;
    border-width: 1px;
    opacity: 0.98;
    background: #192F42 url("../images/mission%20-%20ethics%20open%20copia%202.png?crc=144110946") no-repeat left top;
    background-size: cover;
}
#u7744 {
    z-index: 10;
    position: relative;
    border-color: #999999;
    background-position: left top;
    border-style: solid;
    background-repeat: no-repeat;
    filter: alpha(opacity=98);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    margin-right: -10000px;
    background-color: #192F42;
    border-width: 1px;
    opacity: 0.98;
    background-size: contain;
}
#u7750 {
    z-index: 11;
    position: relative;
    margin-right: -10000px;
}
.PamphletWidget .ThumbGroup .Thumb,
.PamphletNextButton,
.PamphletPrevButton,
.PamphletCloseButton {
    cursor: pointer;
}
#pu7784 {
    z-index: 2;
    width: 100%;
}
#u7784 {
    z-index: 2;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.31);
    background-color: #F2EAE4;
}
#u7757_align_to_page,
#u7784_align_to_page {
    margin-left: auto;
    position: relative;
    margin-right: auto;
}
#u7780 {
    z-index: 3;
    margin-right: -10000px;
    background-color: transparent;
    position: relative;
}
#u7784-bw {
    z-index: 2;
}
#u7776 {
    z-index: 19;
    margin-right: -10000px;
    position: relative;
}
#u7756 {
    z-index: 20;
    margin-right: -10000px;
    position: relative;
}
#u7782 {
    z-index: 21;
    margin-right: -10000px;
    background-color: transparent;
    position: relative;
}
#pamphletu7761 {
    z-index: 25;
    margin-right: -10000px;
    width: 0.01px;
    position: relative;
}
#u7742,
#u7766 {
    position: absolute;
    background-color: transparent;
}
#u7766popup {
    z-index: 26;
}
#u7769 {
    z-index: 27;
    position: relative;
    border-color: #999999;
    background-position: left top;
    border-style: solid;
    background-repeat: no-repeat;
    filter: alpha(opacity=98);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    margin-right: -10000px;
    background-color: #192F42;
    border-width: 1px;
    opacity: 0.98;
    background-size: contain;
}
#u7768 {
    z-index: 28;
    position: relative;
    border-color: #999999;
    border-style: solid;
    filter: alpha(opacity=98);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    margin-right: -10000px;
    border-width: 1px;
    opacity: 0.98;
    background: #192F42 url("../images/mission%20-%20ethics%20open%20copia%202.png?crc=144110946") no-repeat left top;
    background-size: cover;
}
#u7767 {
    z-index: 29;
    position: relative;
    border-color: #999999;
    background-position: left top;
    border-style: solid;
    background-repeat: no-repeat;
    filter: alpha(opacity=98);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    margin-right: -10000px;
    background-color: #192F42;
    border-width: 1px;
    opacity: 0.98;
    background-size: contain;
}
#u7770 {
    z-index: 30;
    position: relative;
    margin-right: -10000px;
}
#u7751,
#u7753,
#u7752,
#u7773,
#u7772,
#u7771 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
}
#u7751:hover,
#u7753:hover,
#u7752:hover,
#u7773:hover,
#u7772:hover,
#u7771:hover {
    min-height: 0px;
    background-color: transparent;
    margin: 0px;
}
#u7751.PamphletThumbSelected,
#u7753.PamphletThumbSelected,
#u7752.PamphletThumbSelected,
#u7773.PamphletThumbSelected,
#u7772.PamphletThumbSelected,
#u7771.PamphletThumbSelected {
    min-height: 0px;
    border-color: transparent;
    background-color: #850038;
    border-width: 0px;
    margin: 0px;
}
.ie #u7751.PamphletThumbSelected,
.ie #u7753.PamphletThumbSelected,
.ie #u7752.PamphletThumbSelected,
.ie #u7773.PamphletThumbSelected,
.ie #u7772.PamphletThumbSelected,
.ie #u7771.PamphletThumbSelected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
#u8869 {
    z-index: 34;
    margin-right: -10000px;
    position: relative;
}
#u8875 {
    z-index: 35;
    margin-right: -10000px;
    position: relative;
}
.ie #u7751:hover,
.ie #u7751,
.ie #u7753:hover,
.ie #u7753,
.ie #u7752:hover,
.ie #u7752,
.ie #u7776,
.ie #u7756,
.ie #u7773:hover,
.ie #u7773,
.ie #u7772:hover,
.ie #u7772,
.ie #u7771:hover,
.ie #u7771,
.ie #u8869,
.ie #u8875 {
    background-color: #FFFFFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 0.01;
}
#u7758 {
    z-index: 5;
    background-position: left top;
    background-repeat: no-repeat;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background-color: transparent;
    width: 100%;
    position: relative;
    opacity: 1;
    background-size: cover;
}
#u7779 {
    z-index: 18;
    background-position: left top;
    background-repeat: no-repeat;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background-color: transparent;
    width: 100%;
    position: relative;
    opacity: 1;
    background-size: contain;
}
.html {
    background-color: #FFFFFF;
}
body {
    position: relative;
}
@media (min-width: 1921px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }
    #bp_infinity.active {
        display: block;
    }
    #page {
        min-height: 438px;
        padding-bottom: 62px;
        max-width: 2560px;
    }
    #u7757,
    #u7757-bw {
        min-height: 73px;
    }
    #pu7784 {
        padding-bottom: 1px;
        margin-top: -7px;
    }
    #u7784 {
        min-height: 148px;
    }
    #u7757_align_to_page,
    #u7784_align_to_page {
        max-width: 2560px;
    }
    #u7780 {
        margin-bottom: -7px;
        margin-top: -5px;
        width: 100%;
    }
    #u7784-bw {
        min-height: 148px;
        margin-top: 7px;
    }
    #pamphletu7741 {
        height: 160px;
        padding-bottom: 729px;
        margin-right: -10000px;
        margin-top: 6px;
    }
    #u7742 {
        width: 2561px;
        top: 149px;
    }
    #u7750 {
        width: 608px;
        left: 629px;
    }
    #u7751 {
        width: 196px;
        height: 155px;
    }
    #u7751:hover {
        width: 196px;
        height: 155px;
    }
    #u7753 {
        width: 196px;
        height: 160px;
        left: 206px;
    }
    #u7753:hover {
        width: 196px;
        height: 160px;
    }
    #u7752 {
        width: 196px;
        height: 155px;
        left: 412px;
    }
    #u7751.PamphletThumbSelected,
    #u7752:hover {
        width: 196px;
        height: 155px;
    }
    #u7776 {
        margin-top: 15px;
        width: 24.22%;
        left: 0.2%;
    }
    #u7776 .fluid_height_spacer {
        padding-bottom: 22.58064516129032%;
    }
    #u7756 {
        margin-top: 15px;
        width: 12.54%;
        left: 77.15%;
    }
    #u7756 .fluid_height_spacer {
        padding-bottom: 43.613707165109034%;
    }
    #u7782 {
        margin-top: 2px;
        width: 100%;
    }
    #u7777,
    #u7777_img,
    #u7759,
    #u7759_img,
    #u7780_img,
    #u7782_img {
        width: 100%;
    }
    #pamphletu7761 {
        height: 160px;
        margin-top: 6px;
        left: 24.58%;
    }
    #u7766 {
        width: 2561px;
        top: 149px;
        left: -629px;
    }
    #u7745,
    #u7769 {
        width: 2559px;
        height: 739px;
        background-image: url("../images/focus%20area%20open%20copia.png?crc=151249171");
    }
    #u7743,
    #u7768 {
        width: 2559px;
        height: 739px;
    }
    #u7744,
    #u7767 {
        width: 2559px;
        height: 739px;
        background-image: url("../images/about%20us%20open.png?crc=131277944");
    }
    #u7770 {
        width: 608px;
    }
    #u7752.PamphletThumbSelected,
    #u7773 {
        width: 196px;
        height: 155px;
    }
    #u7773:hover {
        width: 196px;
        height: 155px;
    }
    #u7772 {
        width: 196px;
        height: 160px;
        left: 206px;
    }
    #u7753.PamphletThumbSelected,
    #u7772:hover {
        width: 196px;
        height: 160px;
    }
    #u7772.PamphletThumbSelected {
        width: 196px;
        height: 160px;
    }
    #u7771 {
        width: 196px;
        height: 155px;
        left: 412px;
    }
    #u7773.PamphletThumbSelected,
    #u7771:hover {
        width: 196px;
        height: 155px;
    }
    #u7771.PamphletThumbSelected {
        width: 196px;
        height: 155px;
    }
    #u8869 {
        width: 24.07%;
        left: 0.32%;
    }
    #u8869 .fluid_height_spacer {
        padding-bottom: 25.162337662337663%;
    }
    #u8875 {
        margin-top: 6px;
        width: 13.29%;
        left: 76.41%;
    }
    #u8875 .fluid_height_spacer {
        padding-bottom: 43.8235294117647%;
    }
    #pu7758 {
        z-index: 5;
        margin-top: -741px;
        width: 100%;
    }
    #u7758 {
        background-image: url("../images/pag-survey%20copia.jpg?crc=318514395");
        margin-right: -10000px;
    }
    #u7758 .fluid_height_spacer {
        padding-bottom: 59.53125%;
    }
    #u7779 {
        background-image: url("../images/foote-2.jpg?crc=359972577");
        margin-right: -10000px;
        margin-top: 1469px;
    }
    #u7779 .fluid_height_spacer {
        padding-bottom: 5.6640625%;
    }
}
@media (min-width: 1601px) and (max-width: 1920px) {
    #muse_css_mq {
        background-color: #000780;
    }
    #bp_1920.active {
        display: block;
    }
    #page {
        min-height: 438px;
        padding-bottom: 62px;
        max-width: 1920px;
    }
    #u7757,
    #u7757-bw {
        min-height: 56px;
    }
    #pu7784 {
        padding-bottom: 1px;
        margin-top: -5px;
    }
    #u7757_align_to_page,
    #u7784_align_to_page {
        max-width: 1920px;
    }
    #u7784,
    #u7784-bw {
        min-height: 120px;
    }
    #pamphletu7741 {
        height: 114px;
        padding-bottom: 532px;
        margin-right: -10000px;
        margin-top: 5px;
        left: 0.06%;
    }
    #u7742 {
        width: 1922px;
        top: 116px;
    }
    #u7750 {
        width: 466px;
        left: 485px;
    }
    #u7751 {
        width: 147px;
        height: 115px;
    }
    #u7751:hover {
        width: 147px;
        height: 115px;
    }
    #u7753 {
        width: 175px;
        height: 115px;
        left: 147px;
    }
    #u7753:hover {
        width: 175px;
        height: 115px;
    }
    #u7752 {
        width: 144px;
        height: 115px;
        left: 322px;
    }
    #u7752:hover {
        width: 144px;
        height: 115px;
    }
    #u7776 {
        margin-top: 30px;
        width: 24.22%;
        left: 0.21%;
    }
    #u7776 .fluid_height_spacer {
        padding-bottom: 22.58064516129032%;
    }
    #u7756 {
        margin-top: 30px;
        width: 12.56%;
        left: 77.14%;
    }
    #u7756 .fluid_height_spacer {
        padding-bottom: 43.56846473029046%;
    }
    #u7777,
    #u7759,
    #u7780,
    #u7782 {
        width: 100%;
    }
    #u7780_img,
    #u7782_img {
        margin-left: 24px;
        margin-right: -24px;
    }
    #pamphletu7761 {
        height: 115px;
        margin-top: 5px;
        left: 25.21%;
    }
    #u7766 {
        width: 1922px;
        top: 116px;
        left: -485px;
    }
    #u7745,
    #u7769 {
        width: 100%;
        height: 530px;
        background-image: url("../images/focus%20area%20open%20copia.png?crc=151249171");
    }
    #u7743,
    #u7768 {
        width: 100%;
        height: 530px;
    }
    #u7744,
    #u7767 {
        width: 100%;
        height: 530px;
        background-image: url("../images/about%20us%20open.png?crc=131277944");
    }
    #u7770 {
        width: 466px;
    }
    #u7751.PamphletThumbSelected,
    #u7773 {
        width: 147px;
        height: 115px;
    }
    #u7773:hover {
        width: 147px;
        height: 115px;
    }
    #u7773.PamphletThumbSelected {
        width: 147px;
        height: 115px;
    }
    #u7772 {
        width: 175px;
        height: 115px;
        left: 147px;
    }
    #u7753.PamphletThumbSelected,
    #u7772:hover {
        width: 175px;
        height: 115px;
    }
    #u7772.PamphletThumbSelected {
        width: 175px;
        height: 115px;
    }
    #u7771 {
        width: 144px;
        height: 115px;
        left: 322px;
    }
    #u7752.PamphletThumbSelected,
    #u7771:hover {
        width: 144px;
        height: 115px;
    }
    #u7771.PamphletThumbSelected {
        width: 144px;
        height: 115px;
    }
    #u8869 {
        margin-top: 15px;
        width: 24.07%;
        left: 0.32%;
    }
    #u8869 .fluid_height_spacer {
        padding-bottom: 25.108225108225106%;
    }
    #u8875 {
        margin-top: 21px;
        width: 13.29%;
        left: 76.41%;
    }
    #u8875 .fluid_height_spacer {
        padding-bottom: 43.92156862745098%;
    }
    #u7758 {
        background-image: url("../images/pag-survey%20copia.jpg?crc=318514395");
        top: -482px;
        margin-bottom: -482px;
    }
    #u7758 .fluid_height_spacer {
        padding-bottom: 59.53125%;
    }
    #u7779 {
        background-image: url("../images/foote-2.jpg?crc=359972577");
        margin-top: 326px;
    }
    #u7779 .fluid_height_spacer {
        padding-bottom: 5.677083333333333%;
    }
    body {
        overflow-x: hidden;
    }
}
@media (min-width: 1369px) and (max-width: 1600px) {
    #muse_css_mq {
        background-color: #000640;
    }
    #bp_1600.active {
        display: block;
    }
    #page {
        min-height: 438px;
        padding-bottom: 62px;
        max-width: 1600px;
    }
    #ppamphletu7741 {
        z-index: 6;
        padding-bottom: 1px;
        width: 100%;
    }
    #pamphletu7741 {
        height: 104px;
        padding-bottom: 539px;
        margin-right: -10000px;
        margin-top: 37px;
    }
    #u7742 {
        width: 1601px;
        top: 103px;
    }
    #u7750 {
        width: 377px;
        left: 398px;
    }
    #u7751 {
        width: 119px;
        height: 104px;
    }
    #u7751:hover {
        width: 119px;
        height: 104px;
    }
    #u7753 {
        width: 129px;
        height: 104px;
        left: 119px;
    }
    #u7753:hover {
        width: 129px;
        height: 104px;
    }
    #u7752 {
        width: 119px;
        height: 104px;
        left: 258px;
    }
    #u7751.PamphletThumbSelected,
    #u7752:hover {
        width: 119px;
        height: 104px;
    }
    #u7757,
    #u7757-bw {
        min-height: 48px;
    }
    #pamphletu7761 {
        height: 104px;
        margin-top: 37px;
        left: 24.88%;
    }
    #u7766 {
        width: 1601px;
        top: 103px;
        left: -398px;
    }
    #u7745,
    #u7769 {
        width: 1599px;
        height: 540px;
        background-image: url("../images/focus%20area%20open%20copia.png?crc=151249171");
    }
    #u7743,
    #u7768 {
        width: 1599px;
        height: 540px;
    }
    #u7744,
    #u7767 {
        width: 1599px;
        height: 540px;
        background-image: url("../images/about%20us%20open.png?crc=131277944");
    }
    #u7770 {
        width: 377px;
    }
    #u7752.PamphletThumbSelected,
    #u7773 {
        width: 119px;
        height: 104px;
    }
    #u7773:hover {
        width: 119px;
        height: 104px;
    }
    #u7772 {
        width: 129px;
        height: 104px;
        left: 119px;
    }
    #u7753.PamphletThumbSelected,
    #u7772:hover {
        width: 129px;
        height: 104px;
    }
    #u7772.PamphletThumbSelected {
        width: 129px;
        height: 104px;
    }
    #u7771 {
        width: 119px;
        height: 104px;
        left: 258px;
    }
    #u7773.PamphletThumbSelected,
    #u7771:hover {
        width: 119px;
        height: 104px;
    }
    #u7771.PamphletThumbSelected {
        width: 119px;
        height: 104px;
    }
    #pu7784 {
        margin-top: -633px;
    }
    #u7784 {
        min-height: 88px;
    }
    #u7757_align_to_page,
    #u7784_align_to_page {
        max-width: 1600px;
    }
    #u7780 {
        width: 100%;
        margin-bottom: -7px;
        margin-top: -5px;
    }
    #u7784-bw {
        min-height: 88px;
        margin-top: 5px;
    }
    #u7776 {
        margin-top: 38px;
        width: 24.25%;
        left: 0.19%;
    }
    #u7776 .fluid_height_spacer {
        padding-bottom: 22.68041237113402%;
    }
    #u7756 {
        margin-top: 38px;
        width: 12.57%;
        left: 77.13%;
    }
    #u7756 .fluid_height_spacer {
        padding-bottom: 43.78109452736319%;
    }
    #u7777,
    #u7759,
    #u7782 {
        width: 100%;
    }
    #u8869 {
        margin-top: 23px;
        width: 24.07%;
        left: 0.32%;
    }
    #u8869 .fluid_height_spacer {
        padding-bottom: 25.19480519480519%;
    }
    #u8875 {
        margin-top: 29px;
        width: 13.32%;
        left: 76.44%;
    }
    #u8875 .fluid_height_spacer {
        padding-bottom: 43.66197183098591%;
    }
    #u7758 {
        background-image: url("../images/pag-survey%20copia.jpg?crc=318514395");
        top: -455px;
        margin-bottom: -455px;
    }
    #u7758 .fluid_height_spacer {
        padding-bottom: 59.56249999999999%;
    }
    #u7779 {
        background-image: url("../images/foote-2.jpg?crc=359972577");
        margin-top: 516px;
    }
    #u7779 .fluid_height_spacer {
        padding-bottom: 5.6875%;
    }
    body {
        overflow-x: hidden;
    }
}
@media (max-width: 1368px) {
    #muse_css_mq {
        background-color: #000558;
    }
    #bp_1368.active {
        display: block;
    }
    #page {
        min-height: 437.515625px;
        padding-bottom: 62.484375px;
        max-width: 1368px;
    }
    #u7757,
    #u7757-bw {
        min-height: 42px;
    }
    #pamphletu7741 {
        height: 85px;
        padding-bottom: 532px;
        top: -5px;
        margin-bottom: -5px;
    }
    #u7742 {
        width: 1369px;
        top: 78px;
    }
    #u7750 {
        width: 322px;
        left: 337px;
    }
    #u7751 {
        width: 104px;
        height: 85px;
    }
    #u7751:hover {
        width: 104px;
        height: 85px;
    }
    #u7753 {
        width: 114px;
        height: 85px;
        left: 104px;
    }
    #u7753:hover {
        width: 114px;
        height: 85px;
    }
    #u7752 {
        width: 104px;
        height: 85px;
        left: 218px;
    }
    #u7751.PamphletThumbSelected,
    #u7752:hover {
        width: 104px;
        height: 85px;
    }
    #pu7784 {
        margin-top: -617px;
    }
    #u7784 {
        min-height: 74px;
    }
    #u7757_align_to_page,
    #u7784_align_to_page {
        max-width: 1368px;
    }
    #u7780 {
        width: 1368px;
        margin-bottom: -6px;
        margin-top: -5px;
    }
    #u7784-bw {
        min-height: 74px;
        margin-top: 5px;
    }
    #u7776 {
        margin-top: 44px;
        width: 24.2%;
        left: 0.22%;
    }
    #u7776 .fluid_height_spacer {
        padding-bottom: 22.658610271903324%;
    }
    #u7756 {
        margin-top: 44px;
        width: 12.58%;
        left: 77.12%;
    }
    #u7756 .fluid_height_spacer {
        padding-bottom: 43.604651162790695%;
    }
    #u7777,
    #u7759,
    #u7782 {
        width: 1368px;
    }
    #pamphletu7761 {
        height: 85px;
        left: 24.64%;
    }
    #u7766 {
        width: 1369px;
        top: 78px;
        left: -337px;
    }
    #u7745,
    #u7769 {
        width: 1367px;
        height: 538px;
        background-image: url("../images/focus%20area%20open%20copia-u5130-fr.png?crc=4001975672");
    }
    #u7743,
    #u7768 {
        width: 1367px;
        height: 538px;
    }
    #u7744,
    #u7767 {
        width: 1367px;
        height: 538px;
        background-image: url("../images/about%20us%20open-u6216-fr.png?crc=399075974");
    }
    #u7770 {
        width: 322px;
    }
    #u7752.PamphletThumbSelected,
    #u7773 {
        width: 104px;
        height: 85px;
    }
    #u7773:hover {
        width: 104px;
        height: 85px;
    }
    #u7772 {
        width: 114px;
        height: 85px;
        left: 104px;
    }
    #u7753.PamphletThumbSelected,
    #u7772:hover {
        width: 114px;
        height: 85px;
    }
    #u7772.PamphletThumbSelected {
        width: 114px;
        height: 85px;
    }
    #u7771 {
        width: 104px;
        height: 85px;
        left: 218px;
    }
    #u7773.PamphletThumbSelected,
    #u7771:hover {
        width: 104px;
        height: 85px;
    }
    #u7771.PamphletThumbSelected {
        width: 104px;
        height: 85px;
    }
    #u8869 {
        margin-top: 29px;
        width: 24.05%;
        left: 0.3%;
    }
    #u8869 .fluid_height_spacer {
        padding-bottom: 25.227963525835868%;
    }
    #u8875 {
        margin-top: 35px;
        width: 13.31%;
        left: 76.39%;
    }
    #u8875 .fluid_height_spacer {
        padding-bottom: 43.956043956043956%;
    }
    #u7758 {
        background-image: url("../images/pag-survey%20copia-u7758-fr.jpg?crc=255213014");
        top: -433px;
        margin-bottom: -433px;
    }
    #u7758 .fluid_height_spacer {
        padding-bottom: 59.50292397660819%;
    }
    #u7779 {
        background-image: url("../images/foote-2-u7369-fr.jpg?crc=8827729");
        margin-top: 655px;
    }
    #u7779 .fluid_height_spacer {
        padding-bottom: 5.628654970760234%;
    }
    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}